---
http_interactions:
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MesDemarches__Queries__Demarche($demarche: Int!) {\n  demarche(number:
        $demarche) {\n    title\n    groupeInstructeurs {\n      instructeurs {\n        id\n        email\n      }\n    }\n  }\n}","variables":{"demarche":217},"operationName":"MesDemarches__Queries__Demarche"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c65b5d9742c57bbf1371b7f65300e0d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"demarche":{"title":"Demande de Revenu Exceptionnel de Solidarité
        [RES] (+ de 10 personnes)","groupeInstructeurs":[{"instructeurs":[{"id":"SW5zdHJ1Y3RldXItMg==","email":"clautier@idt.pf"},{"id":"SW5zdHJ1Y3RldXItNA==","email":"william.joseph@modernisation.gov.pf"},{"id":"SW5zdHJ1Y3RldXItMTQ1","email":"vaitia.buchin@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTQ5","email":"heilani.lissant@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTU1","email":"rava.domingo@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTU2","email":"david.cheon@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTU3","email":"miriama.faivre@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTU4","email":"poeiti.mallegoll@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTcy","email":"valerie.cholet@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTUz","email":"leonard.tavae@informatique.gov.pf"},{"id":"SW5zdHJ1Y3RldXItMTc0","email":"christophe.misselis@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTk1","email":"steven.wong@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTQz","email":"terii.pellissier@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTk3","email":"mael.congard@informatique.gov.pf"},{"id":"SW5zdHJ1Y3RldXItMTk2","email":"heirani.caron@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItNDkz","email":"oceanne.brunet@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMzEy","email":"hina.grepin@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMjU1","email":"marau.brothers@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTgy","email":"jules.cheffort@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTY0","email":"vaihere.frogier@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTcw","email":"maima.paia@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTQ0","email":"stephanie.baricault@sefi.pf"}]}]}}}'
  recorded_at: Sat, 13 Feb 2021 23:37:09 GMT
recorded_with: VCR 6.0.0
