---
http_interactions:
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"fragment MesDemarches__Queries__ChampInfo on Champ {\n  __typename\n  id\n  label\n  ...
        on TextChamp {\n    value\n  }\n  ... on CheckboxChamp {\n    value\n  }\n  ...
        on IntegerNumberChamp {\n    value\n  }\n  ... on DecimalNumberChamp {\n    value\n  }\n  ...
        on DateChamp {\n    value\n  }\n  ... on LinkedDropDownListChamp {\n    primaryValue\n    secondaryValue\n  }\n  ...
        on PieceJustificativeChamp {\n    file {\n      contentType\n      checksum\n      file[...]
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MemeDemandeur__Queries__Dossier($dossier: Int!) {\n  dossier(number:
        $dossier) {\n    number\n    usager {\n      email\n    }\n    demandeur {\n      __typename\n      ...
        on PersonneMorale {\n        siret\n      }\n      ... on PersonnePhysique
        {\n        nom\n        prenom\n      }\n    }\n    champs {\n      __typename\n      label\n    }\n  }\n}","variables":{"dossier":296392},"operationName":"MemeDemandeur__Queries__Dossier"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b4493c1ccb145c9c5498de729b2ad5a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"dossier":{"number":296392,"usager":{"email":"clautier@idt.pf"},"demandeur":{"__typename":"PersonneMorale","siret":"561407"},"champs":[{"__typename":"TextChamp","label":"L''organisme
        demandeur"},{"__typename":"TextChamp","label":"Numéro Tahiti ITI"},{"__typename":"IntegerNumberChamp","label":"Numéro
        employeur CPS"},{"__typename":"TextChamp","label":"Nom du représentant légal"},{"__typename":"TextChamp","label":"Prénom
        du représentant légal"},{"__typename":"TextChamp","label":"Commune de l''organisme"},{"__typename":"TextChamp","label":"Renseignements
        concernant le chantier d''intérêt général"},{"__typename":"TextChamp","label":"I[...]
