---
http_interactions:
- request:
    method: post
    uri: https://api.secure.osb.pf/api-payment/V4/Charge/CreatePaymentOrder
    body:
      encoding: UTF-8
      string: '{"amount":10000,"currency":"XPF","channelOptions":{"channelType":"URL"},"orderId":"my-reference","expirationDate":"2022-06-22T09:45:25-10:00","customer":{"email":"example@company.com","billingDetails":{"category":"PRIVATE","firstName":"firstname","lastName":"lastname"}}}'
    headers:
      Authorization:
      - Basic NTg3Mzk5MzM6dGVzdHBhc3N3b3JkX0NHdnBNOEFyRDhMMnNlaFBPS2FyVkNjVWFGd0p4RzBwUVE3VkxtS3hNOEc4bg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"webService":"Charge/CreatePaymentOrder","version":"V4","applicationVersion":"5.37.0","status":"SUCCESS","answer":{"paymentOrderId":"646f766588404f5689eb717f1ddba876","paymentURL":"https://secure.osb.pf/t/ujx71o6u","paymentOrderStatus":"RUNNING","creationDate":"2022-06-22T19:35:26+00:00","updateDate":null,"amount":10000,"currency":"XPF","locale":"fr_FR","strongAuthentication":"AUTO","orderId":"my-reference","channelDetails":{"channelType":"URL","mailDetails":null,"smsDetails":null,"whatsAppDetails":null,"ivrDetails":null,"_type":"V4/ChannelDetails"},"paymentReceiptEmail":"example@company.com","taxRate":null,"taxAmount":null,"expirationDate":"2022-06-22T19:45:25+00:00","transactionDetails":{"cardDetails":{"manualValidation":"NO","captureDelay":0,"_type":"V4/CardDetails"},"_type":"V4/PaymentOrderTransactionDetails"},"dataCollectionForm":false,"allowDCFAmountUpdate":"NONE","merchantComment":null,"message":"Je
        règle %amount% par paiement sécurisé avant le %end_date% (si le lien ne fonctionne
        pas, copier l''URL : %url% ).","description":null,"formAction":"PAYMENT","paymentMethodToken":null,"metadata":{},"customer":{"billingDetails":{"address":null,"category":"PRIVATE","cellPhoneNumber":null,"city":null,"country":null,"district":null,"firstName":"firstname","identityCode":null,"identityType":null,"language":null,"lastName":"lastname","phoneNumber":null,"state":null,"streetNumber":null,"title":null,"zipCode":null,"legalName":null,"_type":"V4/Customer/BillingDetails"},"email":"example@company.com","reference":null,"shippingDetails":null,"extraDetails":{"browserAccept":null,"fingerPrintId":null,"ipAddress":null,"browserUserAgent":null,"_type":"V4/Customer/ExtraDetails"},"shoppingCart":null,"_type":"V4/Customer/Customer"},"acquirerTransientData":{},"paymentMethods":[],"subMerchantDetails":{"companyType":null,"legalNumber":null,"name":null,"url":null,"phoneNumber":null,"address1":null,"address2":null,"zip":null,"city":null,"country":null,"mcc":null,"mid":null,"softDescriptor":null,"_type":"V4/SubMerchantDetails"},"_type":"V4/PaymentOrder"},"ticket":"140b89fc4fa64e3d94a20e6049a09ac3","serverDate":"2022-06-22T19:35:26+00:00","applicationProvider":"OSB","metadata":null,"mode":"TEST","serverUrl":"https://api.secure.osb.pf","_type":"V4/WebService/Response"}'
  recorded_at: Wed, 22 Jun 2022 19:35:27 GMT
recorded_with: VCR 6.1.0
