---
http_interactions:
- request:
    method: post
    uri: https://api.secure.osb.pf/api-payment/V4/Charge/CreatePaymentOrder
    body:
      encoding: UTF-8
      string: '{"amount":-1,"currency":"XPF","channelOptions":{"channelType":"URL"},"orderId":"my-reference"}'
    headers:
      Authorization:
      - Basic NTg3Mzk5MzM6dGVzdHBhc3N3b3JkX0NHdnBNOEFyRDhMMnNlaFBPS2FyVkNjVWFGd0p4RzBwUVE3VkxtS3hNOEc4bg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"webService":"Charge/CreatePaymentOrder","version":"V4","applicationVersion":"5.37.0","status":"ERROR","answer":{"errorCode":"INT_009","errorMessage":"invalid
        amount","detailedErrorCode":null,"detailedErrorMessage":"Invalid input amount
        [value=-1]","ticket":"null","shopId":"58739933","_type":"V4/WebService/WebServiceError"},"ticket":"54c1c82906364dcbbe11e61a4a6fc864","serverDate":"2022-06-22T19:35:27+00:00","applicationProvider":"OSB","metadata":null,"mode":"TEST","serverUrl":"https://api.secure.osb.pf","_type":"V4/WebService/Response"}'
  recorded_at: Wed, 22 Jun 2022 19:35:27 GMT
recorded_with: VCR 6.1.0
