---
http_interactions:
- request:
    method: post
    uri: https://api.secure.osb.pf/api-payment/V4/Charge/CreatePaymentOrder
    body:
      encoding: UTF-8
      string: '{"amount":10000,"currency":"XPF","channelOptions":{"channelType":"URL"},"orderId":"my-reference","paymentReceiptEmail":"toto@tutu.com"}'
    headers:
      Authorization:
      - Basic ODUzODQ0MzI6dGVzdHBhc3N3b3JkX2lNSW11azFIR2ZhSEhjS04zZEpScjg1MFU5ZkJMVUpyOHFubTA3bzI4bldwNw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"webService":"Charge/CreatePaymentOrder","version":"V4","applicationVersion":"5.44.2","status":"SUCCESS","answer":{"paymentOrderId":"0986ec0df8a344cf862b9178123b9f59","paymentURL":"https://secure.osb.pf/t/8rabc332","paymentOrderStatus":"RUNNING","creationDate":"2022-12-13T22:58:00+00:00","updateDate":null,"amount":10000,"currency":"XPF","locale":"fr_FR","strongAuthentication":"AUTO","orderId":"my-reference","channelDetails":{"channelType":"URL","mailDetails":null,"smsDetails":null,"whatsAppDetails":null,"ivrDetails":null,"_type":"V4/ChannelDetails"},"paymentReceiptEmail":"toto@tutu.com","taxRate":null,"taxAmount":null,"expirationDate":"2022-12-17T09:59:59+00:00","transactionDetails":{"cardDetails":{"manualValidation":"NO","captureDelay":0,"installmentNumber":0,"_type":"V4/CardDetails"},"_type":"V4/PaymentOrderTransactionDetails"},"dataCollectionForm":false,"allowDCFAmountUpdate":"NONE","merchantComment":null,"message":"Je
        règle %amount% par paiement sécurisé avant le %end_date% (si le lien ne fonctionne
        pas, copier l''URL : %url% ).","description":null,"formAction":"PAYMENT","paymentMethodToken":null,"metadata":{},"customer":{"billingDetails":null,"email":null,"reference":null,"shippingDetails":null,"extraDetails":{"browserAccept":null,"fingerPrintId":null,"ipAddress":null,"browserUserAgent":null,"_type":"V4/Customer/ExtraDetails"},"shoppingCart":null,"_type":"V4/Customer/Customer"},"acquirerTransientData":{},"paymentMethods":[],"subMerchantDetails":{"companyType":null,"legalNumber":null,"name":null,"url":null,"phoneNumber":null,"address1":null,"address2":null,"zip":null,"city":null,"country":null,"mcc":null,"mid":null,"softDescriptor":null,"facilitatorId":null,"state":null,"_type":"V4/SubMerchantDetails"},"returnMode":null,"returnUrl":null,"cancelUrl":null,"successUrl":null,"refusedUrl":null,"errorUrl":null,"postWalletUrl":null,"ipnTargetUrl":null,"redirectSuccessTimeout":null,"redirectErrorTimeout":null,"_type":"V4/PaymentOrder"},"ticket":"f080de96650342849f1be06231d07361","serverDate":"2022-12-13T22:58:00+00:00","applicationProvider":"OSB","metadata":null,"mode":"TEST","serverUrl":"https://api.secure.osb.pf","_type":"V4/WebService/Response"}'
  recorded_at: Tue, 13 Dec 2022 22:58:00 GMT
recorded_with: VCR 6.1.0
