---
http_interactions:
- request:
    method: post
    uri: https://api.secure.osb.pf/api-payment/V4/Charge/CreatePaymentOrder
    body:
      encoding: UTF-8
      string: '{"amount":10000,"currency":"XPF","channelOptions":{"channelType":"URL"},"orderId":"my-reference"}'
    headers:
      Authorization:
      - Basic NTg3Mzk5MzM6dGVzdHBhc3N3b3JkX0NHdnBNOEFyRDhMMnNlaFBPS2FyVkNjVWFGd0p4RzBwUVE3VkxtS3hNOEc4bg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"webService":"Charge/CreatePaymentOrder","version":"V4","applicationVersion":"5.37.0","status":"SUCCESS","answer":{"paymentOrderId":"24585dd916b948b4b5e3daf672c5a118","paymentURL":"https://secure.osb.pf/t/0tpbeddt","paymentOrderStatus":"RUNNING","creationDate":"2022-06-22T18:53:55+00:00","updateDate":null,"amount":10000,"currency":"XPF","locale":"fr_FR","strongAuthentication":"AUTO","orderId":"my-reference","channelDetails":{"channelType":"URL","mailDetails":null,"smsDetails":null,"whatsAppDetails":null,"ivrDetails":null,"_type":"V4/ChannelDetails"},"paymentReceiptEmail":null,"taxRate":null,"taxAmount":null,"expirationDate":"2022-06-23T09:59:59+00:00","transactionDetails":{"cardDetails":{"manualValidation":"NO","captureDelay":0,"_type":"V4/CardDetails"},"_type":"V4/PaymentOrderTransactionDetails"},"dataCollectionForm":false,"allowDCFAmountUpdate":"NONE","merchantComment":null,"message":"Je
        règle %amount% par paiement sécurisé avant le %end_date% (si le lien ne fonctionne
        pas, copier l''URL : %url% ).","description":null,"formAction":"PAYMENT","paymentMethodToken":null,"metadata":{},"customer":{"billingDetails":null,"email":null,"reference":null,"shippingDetails":null,"extraDetails":{"browserAccept":null,"fingerPrintId":null,"ipAddress":null,"browserUserAgent":null,"_type":"V4/Customer/ExtraDetails"},"shoppingCart":null,"_type":"V4/Customer/Customer"},"acquirerTransientData":{},"paymentMethods":[],"subMerchantDetails":{"companyType":null,"legalNumber":null,"name":null,"url":null,"phoneNumber":null,"address1":null,"address2":null,"zip":null,"city":null,"country":null,"mcc":null,"mid":null,"softDescriptor":null,"_type":"V4/SubMerchantDetails"},"_type":"V4/PaymentOrder"},"ticket":"114232fd74d24974a5886b143240c50f","serverDate":"2022-06-22T18:53:55+00:00","applicationProvider":"OSB","metadata":null,"mode":"TEST","serverUrl":"https://api.secure.osb.pf","_type":"V4/WebService/Response"}'
  recorded_at: Wed, 22 Jun 2022 18:53:56 GMT
recorded_with: VCR 6.0.0
