---
http_interactions:
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MesDemarches__Queries__Demarche($demarche: Int!) {\n  demarche(number:
        $demarche) {\n    title\n    number\n    groupeInstructeurs {\n      instructeurs
        {\n        id\n        email\n      }\n    }\n  }\n}","variables":{"demarche":871},"operationName":"MesDemarches__Queries__Demarche"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44d2ba652f1c25cbcc3f66e2d9fcb797"
    body:
      encoding: UTF-8
      string: '{"data":{"demarche":{"title":"DiESE - Renouvellement 2.1","number":871,"groupeInstructeurs":[{"instructeurs":[{"id":"SW5zdHJ1Y3RldXItNzY0","email":"titaina.yuen@cfpa.pf"},{"id":"SW5zdHJ1Y3RldXItMTQ2","email":"dominique.lestage@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItNzYy","email":"carole.zisou@cfpa.pf"},{"id":"SW5zdHJ1Y3RldXItMTQ1","email":"vaitia.buchin@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItNTU1","email":"vaimiti.poetai@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItNTU0","email":"myriam.viriamu@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItNTU2","email":"camille.charpin@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMjUz","email":"tamahere.chanson@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItNDQx","email":"oceane.brunet@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMzEy","email":"hina.grepin@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMjU1","email":"marau.brothers@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTk2","email":"heirani.caron@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTgy","email":"jules.cheffort@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTcw","email":"maima.paia@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTY0","email":"vaihere.frogier@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTU4","email":"poeiti.mallegoll@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMTQ0","email":"stephanie.baricault@sefi.pf"},{"id":"SW5zdHJ1Y3RldXItMg==","email":"clautier@idt.pf"},{"id":"SW5zdHJ1Y3RldXItNA==","email":"william.joseph@modernisation.gov.pf"}]}]}}}'
  recorded_at: Thu, 31 Mar 2022 00:01:38 GMT
recorded_with: VCR 6.0.0
