---
http_interactions:
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"fragment MesDemarches__Queries__ChampInfo on Champ {\n  __typename\n  id\n  label\n  ...
        on TextChamp {\n    value\n  }\n  ... on CheckboxChamp {\n    value\n  }\n  ...
        on IntegerNumberChamp {\n    value\n  }\n  ... on DecimalNumberChamp {\n    value\n  }\n  ...
        on DateChamp {\n    value\n  }\n  ... on LinkedDropDownListChamp {\n    primaryValue\n    secondaryValue\n  }\n  ...
        on PieceJustificativeChamp {\n    file {\n      contentType\n      checksum\n      file[...]
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MesDemarches__Queries__Demarche($demarche: Int!) {\n  demarche(number:
        $demarche) {\n    title\n    number\n    groupeInstructeurs {\n      instructeurs
        {\n        id\n        email\n      }\n    }\n  }\n}","variables":{"demarche":1488},"operationName":"MesDemarches__Queries__Demarche"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04fa14e01cfae1502428e5fa11a0739e"
    body:
      encoding: UTF-8
      string: '{"data":{"demarche":{"title":"Test IMD","number":1488,"groupeInstructeurs":[{"instructeurs":[{"id":"SW5zdHJ1Y3RldXItMg==","email":"clautier@idt.pf"}]}]}}}'
  recorded_at: Mon, 14 Feb 2022 10:00:00 GMT
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation SetAnnotationValue__Queries__SetInteger($dossier_id:
        ID!, $instructeur_id: ID!, $annotation_id: ID!, $value: Int!, $client_mutation_id:
        String!) {\n  dossierModifierAnnotationIntegerNumber(input: {dossierId: $dossier_id,
        instructeurId: $instructeur_id, annotationId: $annotation_id, value: $value,
        clientMutationId: $client_mutation_id}) {\n    clientMutationId\n    errors
        {\n      message\n    }\n  }\n}","variables":{"dossier_id":"RG9zc2llci0zMDg3Mjc=","instructeur_id":"SW5zdHJ1Y3RldXItMg==","annotation_id":"Q2hhbXAtNTcwODk=","value":10,"client_mutation_id":"set_value"},"operationName":"SetAnnotationValue__Queries__SetInteger"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"315f8598c02221d8eefb7f697ad7babf"
    body:
      encoding: UTF-8
      string: '{"data":{"dossierModifierAnnotationIntegerNumber":{"clientMutationId":"set_value","errors":null}}}'
  recorded_at: Mon, 14 Feb 2022 10:00:01 GMT
[...]
