---
http_interactions:
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"fragment MesDemarches__Queries__ChampInfo on Champ {\n  __typename\n  id\n  label\n  ...
        on TextChamp {\n    value\n  }\n  ... on CheckboxChamp {\n    value\n  }\n  ...
        on IntegerNumberChamp {\n    value\n  }\n  ... on DecimalNumberChamp {\n    value\n  }\n  ...
        on DateChamp {\n    value\n  }\n  ... on LinkedDropDownListChamp {\n    primaryValue\n    secondaryValue\n  }\n  ...
        on PieceJustificativeChamp {\n    file {\n      contentType\n      checksum\n      file[...]
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MesDemarches__Queries__Demarche($demarche: Int!) {\n  demarche(number:
        $demarche) {\n    title\n    number\n    groupeInstructeurs {\n      instructeurs
        {\n        id\n        email\n      }\n    }\n  }\n}","variables":{"demarche":1488},"operationName":"MesDemarches__Queries__Demarche"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04fa14e01cfae1502428e5fa11a0739e"
    body:
      encoding: UTF-8
      string: '{"data":{"demarche":{"title":"Test IMD","number":1488,"groupeInstructeurs":[{"instructeurs":[{"id":"SW5zdHJ1Y3RldXItMg==","email":"clautier@idt.pf"}]}]}}}'
  recorded_at: Tue, 15 Feb 2022 03:02:34 GMT
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation SetAnnotationValue__Queries__CreateDirectUpload($dossier_id:
        ID!, $filename: String!, $byteSize: Int!, $checksum: String!, $contentType:
        String!) {\n  createDirectUpload(input: {dossierId: $dossier_id, filename:
        $filename, byteSize: $byteSize, checksum: $checksum, contentType: $contentType,
        clientMutationId: \"1\"}) {\n    clientMutationId\n    directUpload {\n      headers\n      signedBlobId\n      url\n    }\n  }\n}","variables":{"dossier_id":"RG9zc2llci0yODY2OTA=","filename":".rspec","byteSize":22,"checksum":"RjaUlqn+unMA9rlxOKk9EA==","contentType":"text/plain","client_mutation_id":"upload"},"operationName":"SetAnnotationValue__Queries__CreateDirectUpload"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5eb5cc46c0fc9debb309b3581ad114b6"
    body:
      encoding: UTF-8
      string: '{"data":{"createDirectUpload":{"clientMutationId":"1","directUpload":{"headers":"{\"Content-Type\":\"text/plain\",\"Content-MD5\":\"RjaUlqn+unMA9rlxOKk9EA==\",\"Content-Disposition\":\"inline;
        filename=\\\".rspec\\\"; filename*=UTF-8''''.rspec\"}","signedBlobId":"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM3ZxSEE9PSIsImV4cCI6IjIwMjItMDItMTVUMDQ6MDI6MzUuMjE1WiIsInB1ciI6ImJsb2JfaWQifX0=--e2efb78d5bbdf39d4f270b9a222917a8655903be","url":"https://osu.cloudgouv-eu-west-1.outscale.com/mes-demarches-prod/uh4k7jv7mjoc7ikrrosfo9wlnhvd?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=IG1JYP74QGWGIY77IGO7%2F20220215%2Fcloudgouv-eu-west-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20220215T030235Z\u0026X-Amz-Expires=3600\u0026X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost\u0026X-Amz-Signature=938bf12c132cd413ce4d9a99368bc4f8738ff2686610b523d6226d45d5798b0a"}}}}'
  recorded_at: Tue, 15 Feb 2022 03:02:35 GMT
- request:
    method: put
    uri: https://osu.cloudgouv-eu-west-1.outscale.com/mes-demarches-prod/uh4k7jv7mjoc7ikrrosfo9wlnhvd?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=IG1JYP74QGWGIY77IGO7/20220215/cloudgouv-eu-west-1/s3/aws4_request&X-Amz-Date=20220215T030235Z&X-Amz-Expires=3600&X-Amz-Signature=938bf12c132cd413ce4d9a99368bc4f8738ff2686610b523d6226d45d5798b0a&X-Amz-SignedHeaders=content-length%3Bcontent-md5%3Bcontent-type%3Bhost
    body:
      encoding: ASCII-8BIT
      string: "--require spec_helper\n"
    headers:
      Content-Type:
      - text/plain
      Content-Md5:
      - RjaUlqn+unMA9rlxOKk9EA==
      Content-Disposition:
      - inline; filename=".rspec"; filename*=UTF-8''.rspec
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"46369496a9feba7300f6b97138a93d10"'
      X-Amz-Request-Id:
      - 83284ef6d245ac7b41c0
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 15 Feb 2022 03:02:44 GMT
- request:
    method: post
    uri: https://www.mes-demarches.gov.pf/api/v2/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation SetAnnotationValue__Queries__SetPieceJustificative($dossier_id:
        ID!, $instructeur_id: ID!, $annotation_id: ID!, $attachment_id: ID!, $client_mutation_id:
        String!) {\n  dossierModifierAnnotationPieceJustificative(input: {dossierId:
        $dossier_id, instructeurId: $instructeur_id, annotationId: $annotation_id,
        attachment: $attachment_id, clientMutationId: $client_mutation_id}) {\n    clientMutationId\n    errors
        {\n      message\n    }\n  }\n}","variables":{"dossier_id":"RG9zc2llci0yODY2OTA=","instructeur_id":"SW5zdHJ1Y3RldXItMg==","annotation_id":"Q2hhbXAtNTcwOTE=","attachment_id":"eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM3ZxSEE9PSIsImV4cCI6IjIwMjItMDItMTVUMDQ6MDI6MzUuMjE1WiIsInB1ciI6ImJsb2JfaWQifX0=--e2efb78d5bbdf39d4f270b9a222917a8655903be","client_mutation_id":"set_value"},"operationName":"SetAnnotationValue__Queries__SetPieceJustificative"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c18ffe03bb5c29c5dc08400f89692ab"
    body:
      encoding: UTF-8
      string: '{"data":{"dossierModifierAnnotationPieceJustificative":{"clientMutationId":"set_value","errors":null}}}'
  recorded_at: Tue, 15 Feb 2022 03:02:57 GMT
[...]
