.col
  %p
    Bonjour,
    %br/
    Une erreur est survenue.
    %br/
  - if @demarche.present?
    %p
      Démarche:
      = @demarche
  - if @dossier_url.present?
    %p
      Dossier:
      %a{ href: @dossier_url }
        = @dossier
  - if @exception.present?
    %pre
      = @exception
  %br/
  = SITE_NAME
