.col
  %p
  Bonjour,
  %br/
  L'instructeur
  = @instructeur
  a
  %b
    = @action
  le dossier
  %a{ href: @dossier_url }
    = @dossier
  %br/
  Vous pouvez vérifier la validité de la décision en cliquant sur le numéro du dossier.
  %br/
  %p
    #{SITE_NAME}