%p
  Hello #{@resource.email}!
%p Une demande pour changer votre mot de passe a été reçue. Vous pouvez effectuer ce changement en cliquant sur le lien ci-dessous
%p= link_to "Changer mon mot de passe", edit_password_url(@resource, reset_password_token: @token)
%p Si vous n'êtes pas à l'origine de la demande, ignorez simplement ce mail.
%p Votre mot de passe ne peut être changé que si vous cliquez sur ce lien.
